<h4>
  Languages:
  <br/>
  <% Language.all.each do |language| %>
  > <%= language.language %> <br/>
  <% end %>
</h4>

<h4>
  Contacts:
  <br/>
  <% Contact.all.each do |contact| %>
  > <%= contact.name %> <br/>
  <% end %>
</h4>
