<div id="project">
  <div class="project__container">
    <div class="project__tab-header">
      <div class="project__tab-title" data-tab="tab-1">
        <p><%= Current.language.statements.find_by(code: 'projeto').title %></p>
      </div>
      <div class="project__tab-title" data-tab="tab-2">
        <p><%= t('project.study') %></p>
      </div>
    </div>
    <div class="project__tab-division" data-tab-division="tab-1"></div>
    <div class="project__tab-body">
      <div class="project__tab-content --body-active" data-tab-active="tab-1">
        <p><%= Current.language.statements.find_by(code: 'projeto').text %></p>
      </div>
      <div class="project__tab-content" data-tab-active="tab-2">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <canvas id="genero"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







<script>
  var ctx = document.getElementById("genero").getContext('2d');
  var genero = new Chart(ctx,{
    type:'pie',
    data: {
      labels:['Homem', 'Mulher', 'N/A'],
      datasets:[{
        label:'Population',
        data:[
        217,
        80,
        3
        ],
        // backgroundColor:'green'
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)'
        ],
        borderWidth:1,
        borderColor:'#777',
        hoverBorderWidth:3,
        hoverBorderColor: 'black'
      }]
    },
    options: {
      title:{
        display:true,
        text:'Genero',
        fontSize: 25
      },
      legend: {
        display: true,
        position: 'right',
        labels:{
          fontColor:'#000'
        }
      },
      layout:{
        padding:{
          left:50,
          right:0,
          bottom:0,
          top:0
        }
      },
      tooltips:{
        enabled: false
      }
    }
  });
</script>
